<script defer src="{{ url_for('static', filename='js/player/xr-player/constants.js', v='5') }}"></script>
<script defer src="{{ url_for('static', filename='js/player/xr-player/utils.js', v='3') }}"></script>
<script defer src="{{ url_for('static', filename='js/player/xr-player/player-base.js', v='5') }}"></script>
<script defer src="{{ url_for('static', filename='js/player/xr-player/player-state.js', v='5') }}"></script>
<script defer src="{{ url_for('static', filename='js/player/xr-player/player-theme.js', v='3') }}"></script>
<script defer src="{{ url_for('static', filename='js/player/xr-player/player-overlay.js', v='5') }}"></script>
<script defer src="{{ url_for('static', filename='js/player/xr-player/player-desktop.js', v='3') }}"></script>
<script defer src="{{ url_for('static', filename='js/player/xr-player/player-audio.js', v='3') }}"></script>
<script defer src="{{ url_for('static', filename='js/player/xr-player/player-scene.js', v='4') }}"></script>
<script defer src="{{ url_for('static', filename='js/player/xr-player/player-xr.js', v='5') }}"></script>
<script defer src="{{ url_for('static', filename='js/player/xr-player/player-avatar.js', v='2') }}"></script>
<script defer src="{{ url_for('static', filename='js/player/xr-player/player-backlight.js', v='3') }}"></script>
<script defer src="{{ url_for('static', filename='js/player/xr-player/player-dispose.js', v='3') }}"></script>
<script defer src="{{ url_for('static', filename='js/player/xr-player/index.js', v='3') }}"></script>
